$white: #FFFFFF;
$colorBackground: #C3C9CC;
$colorHeadlines: #3A4F52;
$colorHover: #3a4f52d4;
$colorPTags: #6A6A6A;
$blue: #4DA7CA;
$colorFooter: #2B3E51;
$colorInput: #CCCCCC;
$colorBackgroundOverlay: rgba(0, 0, 0, 0.20);
$padding: 5% 10%;